
form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input::placeholder,
textarea::placeholder {
    font-style: italic;
    color: #adb5bd;
}

textarea {
    min-height: 80px;
    resize: none;
    max-width: 93.5%;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    outline: none;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

input:invalid {
    border-color: red;
    background-color: white;
}

input:valid {
    background-color: #e6ffee;
}

select,
textarea {
    width: 100%;
    border-color: red;
}
